<a href="https://colab.research.google.com/github/briandankowski/GuidedCapstone/blob/master/Final_GuidedCapstone_Step4_and_Step5HL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Guided Capstone Step 4. Pre-Processing and Training Data Development

**The Data Science Method**  


1.   Problem Identification 


2.   Data Wrangling 
  
 
3.   Exploratory Data Analysis   

4.   **Pre-processing and Training Data Development**  
 * Create dummy or indicator features for categorical variables
  * Standardize the magnitude of numeric features
  * Split into testing and training datasets
  * Apply scaler to the testing set
5.   Modeling 
  * Fit Models with Training Data Set
  * Review Model Outcomes â€” Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

**<font color='teal'> Start by loading the necessary packages as we did in step 3 and printing out our current working directory just to confirm we are in the correct project directory. </font>**

In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
os.listdir()

['.config', 'sample_data']

In [3]:
!mkdir data
!mkdir figures
!mkdir models
from google.colab import files
files.upload()

Saving step3_output.csv to step3_output.csv

{'step3_output.csv': b"Name,state,summit_elev,vertical_drop,fastQuads,quad,triple,double,surface,total_chairs,Runs,TerrainParks,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters\nAlyeska Resort,Alaska,3939,2500,2,2,0,0,2,7,76.0,2.0,1.0,1610.0,113.0,150.0,60.0,669.0,65.0,85.0,150.0,550.0,1\nEaglecrest Ski Area,Alaska,2600,1540,0,0,0,4,0,4,36.0,1.0,2.0,640.0,60.0,45.0,44.0,350.0,47.0,53.0,90.0,0.0,1\nHilltop Ski Area,Alaska,2090,294,0,0,1,0,2,3,13.0,1.0,1.0,30.0,30.0,150.0,36.0,69.0,30.0,34.0,152.0,30.0,1\nArizona Snowbowl,Arizona,11500,2300,0,2,2,1,2,8,55.0,4.0,2.0,777.0,104.0,122.0,81.0,260.0,89.0,89.0,122.0,0.0,0\nSunrise Park Resort,Arizona,11100,1800,1,2,3,1,0,7,65.0,2.0,1.2,800.0,80.0,115.0,49.0,250.0,74.0,78.0,104.0,80.0,0\nYosemite Ski & Snowboard Area,California,7800,600,0,0,1,3,1,5,10.0,2.0,0.4,88.0,0.0,110.0,84.0,300.0,47.0,47.0,107.0,0.0,3\nBear Mountain,California,8805,1665,2,1,2,3,4,12,27.0,14.0,1.5,198.0,198.0,122.0,76.0,100.0,57.91695652173913,64.16681003584229,130.0,0.0,3\nBear Valley,California,8500,1900,1,0,2,4,2,10,67.0,2.0,1.2,1680.0,100.0,165.0,52.0,359.0,57.91695652173913,64.16681003584229,151.0,0.0,3\nBoreal Mountain Resort,California,7700,500,1,1,3,1,2,8,33.0,6.0,1.0,380.0,200.0,150.0,54.0,400.0,49.0,64.16681003584229,150.0,200.0,3\nDodge Ridge,California,8200,1600,0,1,2,5,4,12,67.0,5.0,2.0,862.0,0.0,115.10394265232976,69.0,350.0,78.0,78.0,140.0,0.0,3\nDonner Ski Ranch,California,8012,750,0,0,1,5,2,8,52.0,2.0,1.5,505.0,60.0,163.0,82.0,400.0,75.0,75.0,170.0,0.0,3\nHeavenly Mountain Resort,California,10067,3500,7,1,5,3,8,28,97.0,3.0,5.5,4800.0,3379.0,155.0,64.0,360.0,57.91695652173913,64.16681003584229,157.0,0.0,0\nJune Mountain,California,10090,2590,2,0,0,4,1,7,41.0,2.0,2.0,1500.0,0.0,115.10394265232976,58.0,250.0,57.91695652173913,64.16681003584229,128.0,0.0,0\nKirkwood,California,9800,2000,2,1,5,1,3,12,85.0,2.0,2.5,2300.0,200.0,200.0,47.0,354.0,57.91695652173913,64.16681003584229,167.0,0.0,0\nMammoth Mountain Ski Area,California,11053,3100,9,1,6,4,0,25,154.0,7.0,3.0,3500.0,700.0,243.0,66.0,400.0,149.0,159.0,120.0530035335689,0.0,0\nMt. Shasta Ski Park,California,6890,1435,0,0,3,0,1,4,32.0,2.0,1.1,425.0,225.0,140.0,34.0,300.0,49.0,59.0,130.0,0.0,3\nMountain High,California,8200,1600,2,2,2,5,3,14,59.0,1.0,1.6,290.0,275.0,118.0,95.0,108.0,84.0,84.0,150.0,73.0,3\nMt. Baldy,California,8600,2100,0,0,0,4,0,4,26.0,0.0,2.5,400.0,80.0,175.0,67.0,178.0,69.0,69.0,200.0,0.0,3\nNorthstar California,California,8610,2280,7,1,2,0,7,20,100.0,9.0,1.4,3170.0,1500.0,135.0,47.0,350.0,57.91695652173913,64.16681003584229,150.0,0.0,0\nSierra-at-Tahoe,California,8852,2212,3,0,1,5,5,14,46.0,6.0,2.5,2000.0,200.0,160.0,73.0,460.0,99.0,64.16681003584229,144.0,0.0,0\nSki China Peak,California,8709,1679,0,1,4,2,4,11,45.0,1.0,2.2,1400.0,150.0,140.0,62.0,300.0,83.0,83.0,144.0,0.0,3\nSnow Summit,California,8200,1200,2,0,4,5,5,16,27.0,6.0,1.2,240.0,240.0,115.10394265232976,67.0,100.0,57.91695652173913,64.16681003584229,130.0,150.0,3\nSnow Valley,California,7841,1041,0,0,5,6,1,12,28.0,6.0,1.2,240.0,188.0,111.0,82.0,160.0,69.0,79.0,143.0,164.0,3\nSoda Springs,California,7352,652,0,0,1,1,2,4,18.0,0.0,0.4,200.0,20.0,150.0,83.0,400.0,50.0,50.0,144.0,0.0,3\nSugar Bowl Resort,California,8383,1500,5,3,1,0,2,12,105.0,3.0,3.0,1650.0,375.0,151.0,80.0,500.0,125.0,125.0,150.0,0.0,3\nTahoe Donner,California,7350,600,0,1,1,0,3,5,14.0,2.0,1.0,120.0,0.0,150.0,48.0,400.0,69.0,69.0,144.0,0.0,3\nArapahoe Basin Ski Area,Colorado,13050,2530,1,2,1,2,3,9,145.0,3.0,1.5,1428.0,125.0,230.0,73.0,350.0,85.0,85.0,233.0,0.0,0\nAspen / Snowmass,Colorado,12510,4406,15,4,3,5,9,40,336.0,10.0,5.3,5517.0,658.0,138.0,72.0,300.0,179.0,179.0,138.0,0.0,0\nBeaver Creek,Colorado,11440,3340,11,0,1,1,9,24,150.0,3.0,2.8,1832.0,650.0,145.0,39.0,323.0,57.91695652173913,64.16681003584229,138.0,0.0,0\nBreckenridge,Colorado,12998,3398,6,0,1,6,15,34,187.0,4.0,3.5,2908.0,600.0,182.0,58.0,300.0,57.91695652173913,64.16681003584229,163.0,0.0,0\nCopper Mountain Resort,Colorado,12313,2738,4,0,4,4,9,24,150.0,6.0,1.7,2527.0,364.0,164.0,47.0,300.0,158.0,158.0,164.0,0.0,0\nCrested Butte Mountain Resort,Colorado,12162,3062,4,2,2,1,5,14,121.0,4.0,2.6,1547.0,297.0,145.0,58.0,234.0,57.91695652173913,64.16681003584229,131.0,0.0,0\nPurgatory,Colorado,10822,2029,2,0,3,3,3,12,101.0,9.0,1.3,1605.0,250.0,130.0,54.0,260.0,89.0,89.0,130.0,0.0,0\nEldora Mountain Resort,Colorado,10600,1400,0,2,1,3,3,10,65.0,8.0,3.0,680.0,680.0,147.0,57.0,311.0,57.91695652173913,64.16681003584229,150.0,0.0,0\nHowelsen Hill,Colorado,7136,440,0,0,0,1,3,4,17.0,1.0,6.0,50.0,25.0,100.0,104.0,150.0,25.0,25.0,100.0,10.0,3\nKeystone,Colorado,12408,3128,4,1,1,2,8,20,128.0,1.0,3.5,3148.0,662.0,184.0,49.0,235.0,57.91695652173913,64.16681003584229,120.0530035335689,288.0,0\nLoveland,Colorado,13010,2210,1,3,3,2,1,10,94.0,1.0,2.0,1800.0,240.0,205.0,82.0,422.0,79.0,79.0,184.0,0.0,0\nMonarch Mountain,Colorado,11952,1162,0,1,0,4,2,7,64.0,2.0,1.0,800.0,0.0,143.0,80.0,350.0,89.0,89.0,136.0,0.0,0\nPowderhorn,Colorado,9850,1650,1,0,0,2,2,5,42.0,2.0,1.5,1600.0,42.0,111.0,53.0,250.0,71.0,71.0,110.0,0.0,0\nSilverton Mountain,Colorado,13487,3087,0,0,0,1,0,1,48.214723926380366,0.0,1.5,26819.0,0.0,175.0,17.0,400.0,79.0,79.0,181.0,0.0,2\nCooper,Colorado,11700,1200,0,0,1,1,2,4,41.0,1.0,1.0,400.0,0.0,130.0,74.0,260.0,56.0,56.0,130.0,0.0,0\nSki Granby Ranch,Colorado,9202,1000,2,0,1,1,1,5,40.0,1.0,0.6,406.0,170.0,116.0,36.0,220.0,84.0,84.0,92.0,100.0,3\nSteamboat,Colorado,10568,3668,6,0,5,2,3,18,169.0,4.0,3.0,2965.0,375.0,145.0,56.0,336.0,57.91695652173913,64.16681003584229,145.0,30.0,0\nSunlight Mountain Resort,Colorado,9895,2010,0,0,1,2,0,3,67.0,1.0,2.5,680.0,30.0,100.0,53.0,250.0,65.0,65.0,135.0,0.0,0\nTelluride,Colorado,13150,4425,6,1,2,2,4,17,148.0,3.0,4.6,2000.0,220.0,131.0,47.0,280.0,139.0,139.0,137.0,0.0,0\nVail,Colorado,11570,3450,15,1,1,0,9,31,195.0,3.0,4.0,5289.0,461.0,149.0,57.0,354.0,57.91695652173913,64.16681003584229,142.0,0.0,0\nWinter Park Resort,Colorado,12060,3060,7,0,4,6,5,25,166.0,7.0,4.9,3081.0,313.0,158.0,79.0,360.0,57.91695652173913,64.16681003584229,151.0,0.0,0\nWolf Creek Ski Area,Colorado,11904,1604,3,1,2,1,3,10,120.0,0.0,2.0,1600.0,5.0,130.0,80.0,430.0,72.0,72.0,150.0,0.0,0\nMohawk Mountain,Connecticut,1600,650,0,0,5,0,3,8,25.0,0.0,1.5,107.0,100.0,115.10394265232976,72.0,92.0,30.0,65.0,110.0,64.0,1\nMount Southington Ski Area,Connecticut,525,425,0,0,2,2,3,7,14.0,2.0,0.3,51.0,51.0,63.0,55.0,80.0,60.0,60.0,95.0,51.0,1\nPowder Ridge Park,Connecticut,720,550,0,0,1,2,2,5,19.0,4.0,0.5,80.0,68.0,80.0,60.0,80.0,45.0,55.0,100.0,40.0,1\nSki Sundown,Connecticut,1075,625,0,0,3,0,2,5,16.0,2.0,1.0,70.0,70.0,84.0,50.0,45.0,62.0,62.0,95.0,66.0,1\nWoodbury Ski Area,Connecticut,730,300,0,0,0,1,4,5,12.0,2.0,0.2,50.0,50.0,126.0,57.0,70.0,42.0,42.0,180.0,35.0,1\nBogus Basin,Idaho,7582,1800,3,0,1,3,4,11,91.0,3.0,1.5,2600.0,0.0,134.0,77.0,250.0,64.0,64.0,130.0,165.0,3\nBrundage Mountain Resort,Idaho,7640,1800,1,0,4,0,1,6,51.0,2.0,3.2,1920.0,2.0,126.0,58.0,320.0,70.0,70.0,120.0530035335689,0.0,3\nKelly Canyon Ski Area,Idaho,6600,1000,0,0,0,4,2,6,51.0,1.0,1.3,740.0,0.0,115.10394265232976,62.0,200.0,57.91695652173913,42.0,120.0530035335689,0.0,3\nLookout Pass Ski Area,Idaho,5650,1150,0,0,1,3,0,4,35.0,2.0,1.5,540.0,0.0,113.0,84.0,400.0,44.0,47.0,140.0,0.0,3\nMagic Mountain Ski Area,Idaho,7200,700,0,0,0,1,2,3,11.0,0.0,1.5,280.0,0.0,65.0,81.0,180.0,32.0,32.0,70.0,0.0,3\nPebble Creek Ski Area,Idaho,8560,2200,0,0,3,0,0,3,54.0,2.0,1.3,1100.0,30.0,85.0,70.0,250.0,47.0,47.0,91.0,30.0,3\nPomerelle Mountain Resort,Idaho,9000,1000,0,0,1,1,1,3,24.0,2.0,1.5,500.0,50.0,138.0,56.0,500.0,57.91695652173913,64.16681003584229,138.0,100.0,3\nSchweitzer,Idaho,6400,2400,2,0,1,3,2,9,92.0,3.0,2.1,2900.0,47.0,136.0,56.0,300.0,81.0,81.0,120.0530035335689,100.0,3\nSilver Mountain,Idaho,6300,2200,0,1,2,2,1,7,80.0,2.0,2.5,1600.0,225.0,130.0,29.0,300.0,57.0,62.0,193.0,20.0,3\nSoldier Mountain Ski Area,Idaho,7200,1400,0,0,0,2,1,3,36.0,0.0,0.4,1142.0,0.0,60.0,71.0,185.31645569620247,43.0,43.0,120.0530035335689,0.0,3\nSun Valley,Idaho,9150,3400,9,0,3,2,3,18,120.0,7.0,3.0,2054.0,645.0,149.0,83.0,220.0,57.91695652173913,64.16681003584229,137.0,0.0,0\nTamarack Resort,Idaho,7700,2800,2,2,0,0,2,6,48.0,3.0,1.5,1020.0,200.0,115.10394265232976,15.0,300.0,71.0,71.0,150.0,0.0,3\nChestnut Mountain Resort,Illinois,1040,475,0,2,4,0,3,9,22.0,3.0,0.2,139.0,139.0,87.0,60.0,50.0,40.0,55.0,112.0,139.0,1\nFour Lakes,Illinois,500,100,0,0,0,0,7,7,7.0,1.0,0.1,9.0,9.0,78.0,58.0,24.0,57.91695652173913,64.16681003584229,70.0,9.0,1\nSki Snowstar Winter Sports Park,Illinois,790,262,0,2,0,2,2,6,15.0,1.0,0.8,28.0,28.0,56.0,38.0,38.0,25.0,35.0,86.0,28.0,1\nVilla Olivia,Illinois,500,180,0,1,0,0,6,7,7.0,1.0,0.1,15.0,15.0,115.10394265232976,53.0,25.0,40.0,40.0,70.0,15.0,1\nPaoli Peaks,Indiana,900,300,1,1,3,1,2,8,15.0,2.0,0.4,65.0,65.0,75.0,41.0,18.0,38.0,45.0,80.0,65.0,1\nPerfect North Slopes,Indiana,800,400,0,2,3,0,6,11,23.0,2.0,1.0,100.0,100.0,82.0,39.0,24.0,52.0,52.0,90.0,100.0,1\nMt. Crescent Ski Area,Iowa,1500,300,0,1,0,1,0,2,11.0,1.0,0.2,50.0,50.0,115.10394265232976,58.0,30.0,29.0,39.0,120.0530035335689,50.0,1\nSeven Oaks,Iowa,975,275,0,0,2,0,2,4,11.0,2.0,1.0,35.0,35.0,100.0,22.0,40.0,40.0,40.0,100.0,35.0,1\nSundown Mountain,Iowa,1059,475,0,1,1,2,2,6,21.0,2.0,0.6,55.0,55.0,115.10394265232976,46.0,45.0,38.0,46.0,120.0530035335689,55.0,1\nBig Squaw Mountain Ski Resort,Maine,3200,660,0,0,1,0,0,1,29.0,0.0,0.8,739.8012232415903,0.0,67.0,6.0,185.31645569620247,30.0,30.0,58.0,0.0,1\nCamden Snow Bowl,Maine,1080,850,0,0,1,1,1,3,26.0,2.0,1.0,100.0,48.0,68.0,83.0,69.0,33.0,43.0,70.0,48.0,1\nLost Valley,Maine,495,240,0,0,0,2,2,4,22.0,2.0,0.3,45.0,45.0,87.0,58.0,50.0,29.0,55.0,104.0,45.0,1\nMt. Abram Ski Resort,Maine,2250,1150,0,0,0,2,3,5,54.0,1.0,0.5,640.0,175.0,120.0,59.0,125.0,29.0,49.0,120.0,0.0,1\nMt. Jefferson,Maine,753,432,0,0,0,0,3,3,10.0,0.0,0.3,12.0,0.0,115.10394265232976,19.0,185.31645569620247,57.91695652173913,64.16681003584229,120.0530035335689,0.0,1\nNew Hermon Mountain,Maine,450,350,0,0,0,1,2,3,20.0,0.0,1.9,70.0,70.0,102.0,55.0,90.0,32.0,32.0,117.0,45.0,1\nShawnee Peak,Maine,1900,1350,0,1,2,1,2,6,43.0,3.0,0.8,239.0,234.0,97.0,81.0,110.0,55.0,75.0,103.0,110.0,1\nSugarloaf,Maine,4237,2820,2,3,1,5,2,13,162.0,4.0,3.5,1240.0,618.0,159.0,68.0,200.0,99.0,99.0,155.0,0.0,3\nSunday River,Maine,3140,2340,4,5,3,1,1,15,135.0,5.0,3.0,870.0,552.0,165.0,60.0,167.0,105.0,105.0,169.0,140.0,1\nWisp,Maryland,3115,700,0,2,5,0,5,12,34.0,3.0,1.5,172.0,118.0,121.0,64.0,100.0,59.0,79.0,120.0,118.0,1\nBerkshire East,Massachusetts,1720,1180,0,2,1,1,2,6,47.0,2.0,2.0,180.0,165.0,120.0,68.0,120.0,48.0,68.0,120.0,80.0,1\nBlandford Ski Area,Massachusetts,1685,465,0,0,0,3,2,5,29.0,2.0,0.5,132.0,70.0,115.10394265232976,83.0,50.0,20.0,45.0,120.0530035335689,70.0,1\nBlue Hills Ski Area,Massachusetts,635,309,0,0,0,1,3,4,16.0,1.0,1.4332307692307693,60.0,60.0,115.10394265232976,19.0,185.31645569620247,40.0,45.0,120.0530035335689,0.0,1\nBousquet Ski Area,Massachusetts,1875,750,0,0,0,3,2,5,23.0,1.0,1.0,200.0,98.0,115.10394265232976,19.0,83.0,25.0,49.0,120.0530035335689,100.0,1\nBradford Ski Area,Massachusetts,1548,248,0,0,2,0,8,10,15.0,1.0,0.3,48.0,48.0,115.10394265232976,71.0,185.31645569620247,37.0,55.0,120.0530035335689,0.0,1\nJiminy Peak,Massachusetts,2380,1150,0,2,3,1,2,9,45.0,3.0,2.0,167.0,163.0,121.0,71.0,90.0,81.0,81.0,120.0,104.0,1\nNashoba Valley,Massachusetts,440,240,0,0,3,1,7,11,17.0,2.0,0.5,52.0,52.0,112.0,55.0,55.0,48.0,58.0,126.0,52.0,1\nOtis Ridge Ski Area,Massachusetts,1700,400,0,0,0,1,3,4,11.0,1.0,1.0,60.0,55.0,106.0,73.0,70.0,20.0,40.0,106.0,35.0,1\nSki Butternut,Massachusetts,1800,1000,0,3,1,1,6,11,22.0,2.0,1.5,110.0,110.0,107.0,56.0,115.0,25.0,60.0,110.0,0.0,1\nSki Ward,Massachusetts,420,210,0,0,1,0,3,4,11.0,1.0,0.2,45.0,45.0,105.0,50.0,80.0,57.91695652173913,64.16681003584229,120.0,38.0,1\nWachusett Mountain Ski Area,Massachusetts,2006,1000,3,0,1,0,4,8,27.0,2.0,1.5,112.0,112.0,115.10394265232976,57.0,100.0,65.0,71.0,120.0,104.0,1\nAlpine Valley Ski Area,Michigan,500,240,0,1,2,5,6,14,25.0,3.0,0.2,100.0,100.0,115.10394265232976,57.0,20.0,39.0,47.0,120.0530035335689,100.0,1\nApple Mountain,Michigan,820,220,0,1,0,0,5,6,12.0,0.0,1.4332307692307693,80.0,42.0,115.10394265232976,58.0,52.0,35.0,35.0,120.0530035335689,80.0,1\nBig Powderhorn Mountain,Michigan,1800,600,0,0,0,9,1,10,45.0,2.0,1.0,253.0,228.0,100.0,55.0,214.0,69.0,69.0,108.0,0.0,1\nBittersweet Ski Area,Michigan,850,350,0,1,7,0,4,12,20.0,2.0,0.2,100.0,100.0,80.0,36.0,90.0,38.0,48.0,120.0530035335689,100.0,1\nBig Snow Resort - Blackjack,Michigan,850,465,0,0,0,4,2,6,26.0,2.0,1.0,170.0,86.0,95.0,42.0,210.0,49.0,65.0,115.0,0.0,1\nBoyne Highlands,Michigan,1290,552,1,3,4,0,2,10,55.0,4.0,1.2,435.0,400.0,97.0,56.0,140.0,78.0,98.0,120.0,150.0,1\nBoyne Mountain Resort,Michigan,1120,500,0,4,3,2,2,12,60.0,7.0,1.0,415.0,380.0,122.0,71.0,140.0,57.91695652173913,64.16681003584229,130.0,200.0,1\nCaberfae Peaks,Michigan,1569,485,0,1,2,1,1,5,34.0,2.0,1.2,200.0,200.0,118.0,82.0,140.0,39.0,49.0,130.0,150.0,1\nCannonsburg,Michigan,1100,250,0,1,1,1,7,10,21.0,5.0,0.1,100.0,0.0,100.0,54.0,100.0,30.0,37.0,100.0,0.0,1\nCrystal Mountain,Michigan,1132,375,1,3,2,0,2,8,58.0,3.0,0.3,102.0,96.0,120.0,63.0,132.0,54.0,64.0,135.0,56.0,1\nBig Snow Resort - Indianhead Mountain,Michigan,1935,638,0,1,1,5,2,9,32.0,2.0,1.0,240.0,150.0,120.0,60.0,204.0,49.0,49.0,120.0,0.0,1\nMarquette Mountain,Michigan,1357,600,0,0,1,2,1,4,35.0,3.0,0.7,169.0,143.0,139.0,60.0,210.0,57.91695652173913,64.16681003584229,135.0,89.0,1\nMont Ripley,Michigan,1140,440,0,0,0,2,2,4,25.0,2.0,0.8,112.0,112.0,114.0,83.0,275.0,49.0,49.0,100.0,100.0,1\nMount Bohemia,Michigan,1500,900,0,0,1,1,0,2,48.214723926380366,0.0,2.3,585.0,0.0,83.0,19.0,273.0,68.0,68.0,100.0,0.0,1\nMt. Brighton,Michigan,1330,230,0,2,3,0,8,13,25.0,5.0,0.1,130.0,130.0,111.0,59.0,60.0,52.0,59.0,100.0,130.0,1\nMt. Holiday Ski Area,Michigan,440,200,0,0,0,2,2,4,12.0,0.0,0.1,45.0,45.0,100.0,70.0,120.0,22.0,34.0,90.0,45.0,1\nMount Holly,Michigan,1105,350,1,2,3,1,6,13,19.0,0.0,0.1,100.0,100.0,115.10394265232976,63.0,42.0,37.0,45.0,102.0,100.0,1\nMulligan's Hollow Ski Bowl,Michigan,700,130,0,0,0,0,5,5,6.0,0.0,0.2,10.0,10.0,115.10394265232976,19.0,60.0,15.0,20.0,120.0530035335689,10.0,1\nNorway Mountain,Michigan,1335,500,0,0,1,2,3,6,17.0,1.0,1.4,186.0,186.0,110.0,45.0,100.0,57.91695652173913,45.0,110.0,40.0,1\nNubs Nob Ski Area,Michigan,1338,427,0,3,4,2,1,10,53.0,3.0,0.9,248.0,248.0,133.0,61.0,135.0,65.0,85.0,130.0,160.0,1\nPine Knob Ski Resort,Michigan,1308,300,0,0,0,0,6,6,14.0,3.0,1.0,80.0,80.0,115.10394265232976,2019.0,185.31645569620247,49.0,57.0,120.0530035335689,0.0,1\nPine Mountain,Michigan,1650,500,0,0,1,2,1,4,28.0,1.0,0.5,160.0,160.0,110.0,80.0,60.0,57.91695652173913,45.0,126.0,80.0,1\nSchuss Mountain at Shanty Creek,Michigan,1125,450,0,5,0,0,3,8,42.0,3.0,1.0,70.0,70.0,94.0,57.0,160.0,58.0,78.0,111.0,70.0,1\nSki Brule,Michigan,1860,500,0,0,0,5,7,12,17.0,3.0,1.0,150.0,150.0,164.0,62.0,150.0,49.0,49.0,165.0,40.0,1\nSnow Snake Mountain Ski Area,Michigan,1230,210,0,0,1,0,5,6,12.0,2.0,0.0,40.0,40.0,115.10394265232976,72.0,185.31645569620247,30.0,35.0,120.0530035335689,40.0,1\nSwiss Valley,Michigan,1200,225,0,2,1,0,4,7,11.0,2.0,0.1,60.0,60.0,89.0,51.0,60.0,32.0,42.0,80.0,60.0,1\nThe Homestead,Michigan,900,320,0,0,2,1,2,5,15.0,1.0,0.2,16.0,16.0,47.0,34.0,150.0,50.0,50.0,42.0,16.0,1\nTimber Ridge,Michigan,850,250,0,1,1,2,4,8,16.0,2.0,0.3,50.0,50.0,80.0,58.0,185.31645569620247,35.0,45.0,120.0530035335689,50.0,1\nTreetops Resort,Michigan,1345,225,0,0,3,0,2,5,23.0,3.0,0.2,80.0,80.0,63.0,65.0,175.0,57.91695652173913,64.16681003584229,101.0,80.0,1\nAfton Alps,Minnesota,1530,350,0,1,3,14,4,22,48.0,5.0,0.5,250.0,250.0,135.0,56.0,60.0,55.0,60.0,135.0,250.0,1\nAndes Tower Hills Ski Area,Minnesota,1620,290,0,1,2,0,3,6,15.0,2.0,0.2,35.0,35.0,100.0,38.0,55.0,45.0,45.0,110.0,35.0,1\nBuck Hill,Minnesota,1225,309,0,2,1,0,5,8,16.0,0.0,0.2,45.0,45.0,115.0,65.0,60.0,34.0,47.0,112.0,45.0,1\nBuena Vista Ski Area,Minnesota,1510,230,0,0,2,2,2,6,17.0,0.0,0.3,30.0,30.0,57.0,70.0,78.0,44.0,44.0,60.0,30.0,1\nCoffee Mill Ski & Snowboard Resort,Minnesota,1150,425,0,0,0,2,1,3,14.0,1.0,1.0,40.0,35.0,57.0,39.0,48.0,23.0,37.0,56.0,35.0,1\nElm Creek Winter Recreation Area,Minnesota,928,60,0,0,0,0,3,3,3.0,0.0,1.0,15.0,20.0,105.0,13.0,45.0,17.0,17.0,102.0,15.0,1\nGiants Ridge Resort,Minnesota,1972,500,1,1,1,2,2,7,35.0,2.0,0.8,202.0,202.0,120.0,35.0,85.0,49.0,58.0,125.0,121.0,1\nHyland Ski & Snowboard Area,Minnesota,1075,175,0,2,1,0,5,8,14.0,1.0,1.0,35.0,35.0,110.0,61.0,55.0,35.34,35.34,115.0,35.0,1\nLutsen Mountains,Minnesota,1688,825,0,0,1,4,1,8,62.0,2.0,2.0,393.0,231.0,135.0,71.0,120.0,84.0,84.0,127.0,0.0,1\nMount Kato Ski Area,Minnesota,540,240,0,5,0,3,2,10,19.0,4.0,1.0,55.0,55.0,115.0,43.0,50.0,34.0,46.0,120.0,50.0,1\nPowder Ridge Ski Area,Minnesota,790,300,0,1,0,2,3,6,15.0,4.0,1.4332307692307693,60.0,60.0,97.0,58.0,45.0,36.0,48.0,113.0,60.0,1\nSpirit Mountain,Minnesota,1320,700,1,1,2,1,2,7,22.0,3.0,1.0,175.0,175.0,100.0,45.0,100.0,59.0,59.0,125.0,144.0,1\nWelch Village,Minnesota,1060,360,0,3,1,4,2,10,50.0,1.0,0.8,125.0,125.0,114.0,54.0,45.0,54.0,60.0,122.0,100.0,1\nWild Mountain Ski & Snowboard Area,Minnesota,1113,300,0,4,0,0,4,8,26.0,4.0,0.9,100.0,100.0,130.0,47.0,50.0,55.0,55.0,140.0,100.0,1\nHidden Valley Ski Area,Missouri,2566,310,0,2,2,0,3,7,17.0,0.0,0.1,30.0,30.0,115.10394265232976,37.0,26.0,49.0,49.0,120.0530035335689,17.0,1\nSnow Creek,Missouri,1100,300,0,0,2,1,2,5,14.0,2.0,0.3,30.0,30.0,69.0,33.0,20.0,37.0,47.0,85.0,30.0,1\nBig Sky Resort,Montana,11166,4350,5,3,7,5,12,36,317.0,8.0,6.0,5800.0,400.0,144.0,46.0,400.0,57.91695652173913,64.16681003584229,144.0,0.0,0\nBlacktail Mountain Ski Area,Montana,6676,1440,0,0,1,2,1,4,27.0,0.0,0.7,1000.0,0.0,115.10394265232976,21.0,250.0,42.0,42.0,120.0530035335689,0.0,3\nBridger Bowl,Montana,8700,2600,0,1,6,1,3,11,105.0,2.0,1.5,2000.0,100.0,122.0,64.0,350.0,63.0,63.0,133.0,0.0,0\nDiscovery Ski Area,Montana,8150,2380,0,0,5,2,1,8,74.0,1.0,1.5,2400.0,25.0,116.0,46.0,225.0,49.0,49.0,116.0,0.0,3\nGreat Divide,Montana,7330,1580,0,0,0,5,1,6,110.0,6.0,3.0,1600.0,150.0,94.0,78.0,180.0,48.0,48.0,100.0,100.0,3\nLost Trail - Powder Mtn,Montana,8200,1800,0,0,0,5,3,8,69.0,2.0,2.5,1800.0,0.0,84.0,81.0,325.0,46.0,46.0,80.0,0.0,3\nMaverick Mountain,Montana,8520,2020,0,0,0,1,1,2,22.0,0.0,1.3,255.0,0.0,115.10394265232976,83.0,160.0,39.0,39.0,120.0530035335689,0.0,3\nMontana Snowbowl,Montana,7600,2600,0,0,0,2,2,4,37.0,0.0,1.2,950.0,20.0,115.10394265232976,58.0,300.0,50.0,50.0,120.0530035335689,10.0,3\nRed Lodge Mountain,Montana,9416,2400,2,0,1,3,1,7,70.0,2.0,2.5,1635.0,496.0,142.0,59.0,250.0,67.0,67.0,136.0,0.0,0\nShowdown Montana,Montana,8200,1400,0,0,1,2,1,4,36.0,1.0,1.8,640.0,0.0,86.0,83.0,250.0,47.0,47.0,85.0,0.0,3\nTeton Pass Ski Resort,Montana,7200,1010,0,0,0,1,2,3,43.0,1.0,3.0,330.0,0.0,40.0,54.0,250.0,39.0,39.0,150.0,0.0,3\nBig Mountain Resort,Montana,6817,2353,3,2,6,0,3,14,105.0,4.0,3.3,3000.0,600.0,123.0,72.0,333.0,81.0,81.0,123.0,600.0,3\nDiamond Peak,Nevada,8540,1840,1,2,0,3,1,7,30.0,3.0,2.5,655.0,492.0,100.0,53.0,300.0,89.0,99.0,122.0,0.0,3\nElko SnoBowl,Nevada,7000,700,0,0,0,1,1,2,10.0,0.0,1.0,60.0,2.0,19.0,23.0,24.0,20.0,20.0,30.0,0.0,3\nLee Canyon,Nevada,11289,860,0,2,1,0,0,3,24.0,1.0,0.3,195.0,50.0,144.0,56.0,161.0,70.0,70.0,150.0,0.0,0\nMt. Rose - Ski Tahoe,Nevada,9700,1800,0,2,2,0,2,8,65.0,5.0,2.5,1200.0,330.0,152.0,55.0,350.0,135.0,135.0,150.0,0.0,0\nAttitash,New Hampshire,2350,1750,2,1,3,2,1,9,68.0,3.0,3.0,311.0,240.0,115.0,54.0,120.0,79.0,89.0,130.0,0.0,1\nBlack Mountain,New Hampshire,2350,1100,0,0,1,1,3,5,45.0,0.0,1.6,143.0,120.0,110.0,84.0,125.0,45.0,59.0,107.0,0.0,1\nBretton Woods,New Hampshire,3100,1500,4,1,1,0,3,9,63.0,2.0,2.0,464.0,427.0,180.0,46.0,200.0,85.0,99.0,180.0,45.0,1\nCannon Mountain,New Hampshire,4080,2180,1,2,3,1,3,11,97.0,3.0,2.3,285.0,192.0,124.0,81.0,160.0,79.0,79.0,143.0,0.0,1\nCranmore Mountain Resort,New Hampshire,2000,1200,1,1,2,1,2,7

In [4]:
os.listdir()

['.config', 'figures', 'data', 'models', 'step3_output.csv', 'sample_data']

In [5]:
!rm 'step3_output (1).csv'

rm: cannot remove 'step3_output (1).csv': No such file or directory

In [6]:
os.listdir()

['.config', 'figures', 'data', 'models', 'step3_output.csv', 'sample_data']

In [7]:
os.getcwd()

'/content'

**<font color='teal'>  Load the csv file you created in step 3, remember it should be saved inside your data subfolder and print the first five rows.</font>**

In [8]:
df = pd.read_csv('step3_output.csv', index_col= None)
df.describe().T

                   count         mean  ...          75%      max
summit_elev        330.0  4591.818182  ...  7806.000000  13487.0
vertical_drop      330.0  1215.427273  ...  1800.000000   4425.0
fastQuads          330.0     1.018182  ...     1.000000     15.0
quad               330.0     0.933333  ...     1.000000      8.0
triple             330.0     1.500000  ...     2.000000      8.0
double             330.0     1.833333  ...     3.000000     14.0
surface            330.0     2.621212  ...     3.000000     15.0
total_chairs       330.0     8.266667  ...    10.000000     41.0
Runs               330.0    48.214724  ...    60.000000    341.0
TerrainParks       330.0     2.384848  ...     3.000000     14.0
LongestRun_mi      330.0     1.433231  ...     2.000000      6.0
SkiableTerrain_ac  330.0   739.801223  ...   739.801223  26819.0
Snow Making_ac     330.0   150.496970  ...   192.000000   3379.0
daysOpenLastYear   330.0   115.103943  ...   130.000000    305.0
yearsOpen          330.0    63.656535  ...    68.750000   2019.0
averageSnowfall    330.0   185.316456  ...   278.750000    669.0
AdultWeekday       330.0    57.916957  ...    67.000000    179.0
AdultWeekend       330.0    64.166810  ...    72.000000    179.0
projectedDaysOpen  330.0   120.053004  ...   136.000000    305.0
NightSkiing_ac     330.0    56.890909  ...    83.750000    650.0
clusters           330.0     1.306061  ...     1.000000      3.0

[21 rows x 8 columns]

In [9]:
df.shape

(330, 23)

In [10]:
df.head()

                  Name    state  ...  NightSkiing_ac  clusters
0       Alyeska Resort   Alaska  ...           550.0         1
1  Eaglecrest Ski Area   Alaska  ...             0.0         1
2     Hilltop Ski Area   Alaska  ...            30.0         1
3     Arizona Snowbowl  Arizona  ...             0.0         0
4  Sunrise Park Resort  Arizona  ...            80.0         0

[5 rows x 23 columns]

## Create dummy features for categorical variables

**<font color='teal'> Create dummy variables for `state`. Add the dummies back to the dataframe and remove the original column for `state`. </font>**

Hint: you can see an example of how to execute this in Aiden's article on preprocessing [here](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-pre-processing-and-training-data-development-fd2d75182967).

In [11]:
# select object type columns
df = pd.concat([df.drop('state', axis=1), pd.get_dummies(df['state'])], axis=1)
df.head()

                  Name  summit_elev  ...  Wisconsin  Wyoming
0       Alyeska Resort         3939  ...          0        0
1  Eaglecrest Ski Area         2600  ...          0        0
2     Hilltop Ski Area         2090  ...          0        0
3     Arizona Snowbowl        11500  ...          0        0
4  Sunrise Park Resort        11100  ...          0        0

[5 rows x 57 columns]

## Standardize the magnitude of numeric features
**<font color='teal'> Using sklearn preprocessing standardize the scale of the features of the dataframe except the name of the resort which we done't need in the dataframe for modeling, so it can be droppped here as well. Also, we want to hold out our response variable(s) so we can have their true values available for model performance review. Let's set `AdultWeekend` to the y variable as our response for scaling and modeling. Later we will go back and consider the `AdultWeekday`, `dayOpenLastYear`, and `projectedDaysOpen`. For now leave them in the development dataframe. </font>**

In [12]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing

# Declare an explanatory variable, called x,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
x = df.drop(['Name','AdultWeekend'], axis=1)
print(x)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df['AdultWeekend']

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter x 
scaler = preprocessing.StandardScaler().fit(x)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter x 
x_scaled=scaler.transform(x)

     summit_elev  vertical_drop  fastQuads  ...  West Virginia  Wisconsin  Wyoming
0           3939           2500          2  ...              0          0        0
1           2600           1540          0  ...              0          0        0
2           2090            294          0  ...              0          0        0
3          11500           2300          0  ...              0          0        0
4          11100           1800          1  ...              0          0        0
..           ...            ...        ...  ...            ...        ...      ...
325         9500           1000          0  ...              0          0        1
326         7428            810          0  ...              0          0        1
327         7808           1571          0  ...              0          0        1
328         9663            990          0  ...              0          0        1
329         9500           1100          0  ...              0          0        1

[330 rows x 55 columns]

## Split into training and testing datasets

**<font color='teal'> Using sklearn model selection import train_test_split, and create a 75/25 split with the y = `AdultWeekend`. We will start by using the adult weekend ticket price as our response variable for modeling.</font>**

In [13]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()
# Call the train_test_split() function with the first two parameters set to x_scaled and y 
# Declare four variables, s_train, s_test, y_train and y_test separated by commas 
s_train, s_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.25, random_state=1)

In [14]:
y

array([ 85.        ,  53.        ,  34.        ,  89.        ,
        78.        ,  47.        ,  64.16681004,  64.16681004,
        64.16681004,  78.        ,  75.        ,  64.16681004,
        64.16681004,  64.16681004, 159.        ,  59.        ,
        84.        ,  69.        ,  64.16681004,  64.16681004,
        83.        ,  64.16681004,  79.        ,  50.        ,
       125.        ,  69.        ,  85.        , 179.        ,
        64.16681004,  64.16681004, 158.        ,  64.16681004,
        89.        ,  64.16681004,  25.        ,  64.16681004,
        79.        ,  89.        ,  71.        ,  79.        ,
        56.        ,  84.        ,  64.16681004,  65.        ,
       139.        ,  64.16681004,  64.16681004,  72.        ,
        65.        ,  60.        ,  55.        ,  62.        ,
        42.        ,  64.        ,  70.        ,  42.        ,
        47.        ,  32.        ,  47.        ,  64.16681004,
        81.        ,  62.        ,  43.        ,  64.16681004,
        71.        ,  55.        ,  64.16681004,  35.        ,
        40.        ,  45.        ,  52.        ,  39.        ,
        40.        ,  46.        ,  30.        ,  43.        ,
        55.        ,  49.        ,  64.16681004,  32.        ,
        75.        ,  99.        , 105.        ,  79.        ,
        68.        ,  45.        ,  45.        ,  49.        ,
        55.        ,  81.        ,  58.        ,  40.        ,
        60.        ,  64.16681004,  71.        ,  47.        ,
        35.        ,  69.        ,  48.        ,  65.        ,
        98.        ,  64.16681004,  49.        ,  37.        ,
        64.        ,  49.        ,  64.16681004,  49.        ,
        68.        ,  59.        ,  34.        ,  45.        ,
        20.        ,  45.        ,  85.        ,  57.        ,
        45.        ,  78.        ,  49.        ,  35.        ,
        42.        ,  50.        ,  45.        ,  64.16681004,
        60.        ,  45.        ,  47.        ,  44.        ,
        37.        ,  17.        ,  58.        ,  35.34      ,
        84.        ,  46.        ,  48.        ,  59.        ,
        60.        ,  55.        ,  49.        ,  47.        ,
        64.16681004,  42.        ,  63.        ,  49.        ,
        48.        ,  46.        ,  39.        ,  50.        ,
        67.        ,  47.        ,  39.        ,  81.        ,
        99.        ,  20.        ,  70.        , 135.        ,
        89.        ,  59.        ,  99.        ,  79.        ,
        64.16681004,  69.        ,  50.        ,  92.        ,
        58.        ,  64.16681004,  93.        ,  72.        ,
        84.        ,  93.        ,  45.        ,  89.        ,
        64.16681004,  79.99      ,  77.        ,  20.        ,
        49.        ,  79.        ,  55.        ,  47.        ,
        74.        ,  80.        , 110.        ,  72.        ,
        32.        ,  76.        ,  50.        ,  69.        ,
        35.        ,  88.        ,  63.2       ,  42.        ,
        78.        ,  75.        ,  58.        ,  89.        ,
        60.        ,  59.        ,  38.        ,  30.        ,
        54.        ,  40.        ,  63.        ,  67.        ,
        45.        ,  48.        ,  59.        ,  59.        ,
        57.        ,  49.        ,  55.        ,  59.        ,
        96.        ,  46.        ,  95.        ,  39.        ,
        64.        ,  70.        ,  43.        ,  68.        ,
        75.        ,  65.        ,  43.        ,  44.        ,
        44.        ,  44.        ,  52.        ,  40.        ,
        39.        ,  59.        ,  52.        ,  99.        ,
        64.16681004,  70.        ,  64.16681004,  64.16681004,
        60.        ,  60.        ,  62.        ,  65.        ,
        68.        ,  65.        ,  70.        ,  64.16681004,
        69.        ,  65.        ,  77.        ,  33.        ,
        73.        ,  87.        ,  65.        ,  44.        ,
        64.16681004,  64.16681004,  45.        ,  71.        ,
        64.16681004,  45.        ,  58.        ,  65.        ,
       116.        ,  50.        ,  59.        ,  85.        ,
       169.        ,  60.        ,  64.16681004,  88.        ,
       115.        , 125.        , 119.        ,  80.        ,
        50.        ,  79.        ,  91.        ,  73.        ,
        89.        , 119.        ,  64.16681004,  74.        ,
        64.16681004,  64.16681004,  81.        ,  79.        ,
        64.16681004,  64.16681004, 119.        ,  75.        ,
        68.        ,  64.16681004,  64.16681004,  64.16681004,
        62.        ,  64.16681004,  47.        ,  99.        ,
        64.16681004,  60.01      ,  59.        ,  64.16681004,
        95.        ,  69.        ,  68.        ,  87.        ,
        92.        ,  72.        ,  65.        ,  25.        ,
        64.        ,  38.        ,  64.16681004,  65.        ,
        49.        ,  92.        ,  41.        ,  56.        ,
        47.        ,  44.        ,  54.        ,  48.        ,
        60.        ,  66.        ,  90.        ,  48.        ,
        64.16681004,  64.16681004,  42.        ,  59.        ,
        49.        ,  49.        ])

Here we start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Guided Capstone Step 5. Modeling

This is the fifth step in the Data Science Method. In the previous steps you cleaned and prepared the datasets. Now it's time to get into the most exciting part: modeling! In this exercise, you'll build three different models and compare each model's performance. In the end, you'll choose the best model for demonstrating insights to Big Mountain management.



### **The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.   **Modeling**
  * Fit Models with Training Data Set
  * Review Model Outcomes â€” Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Fit Models with a Training Dataset

**<font color='teal'> Using sklearn, fit the model on your training dataset.</font>**

# **Model 1**

In [15]:
#all first model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(s_train,y_train)

**<font color='teal'> Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value. </font>**

Hint: you will have to use the `predict()` method here as it's used in this [DSM article](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-modeling-56b4233cad1b) about modeling.

In [16]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = model.predict(s_test)

In [17]:
y_pred

array([ 58.31135206,  89.46955518,  78.41877393,  75.67072706,
        70.57111768,  76.15510206,  44.82893018,  46.79377393,
        93.51057081,  84.89533643,  50.45197706,  79.25080518,
        50.93244581,  70.93830518,  62.45978956,  93.39533643,
        42.60822706,  72.86994581,  61.73127393,  40.74885206,
       113.47346143,  36.96955518,  53.65314893,  49.23322706,
        48.09260206,  62.58478956,  75.87482862,  74.68439893,
        64.26643018,  66.54572706,  35.05744581,  58.87189893,
        80.33674268,  57.13947706,  75.38947706,  49.37385206,
        22.96760206,  29.40510206,  61.64728956,  37.28010206,
        48.50080518,  63.23810987,  86.71369581,  72.23713331,
        72.41096143,  59.18439893,  59.49299268, 166.31135206,
        37.67072706,  61.15998487,  68.18439893,  61.17463331,
        53.16486768,  44.33088331,  59.32795362,  43.11799268,
        84.96076612,  39.33478956, 120.62385206, 119.29963331,
        55.93635206,  53.96857862,  41.79572706,  81.09846143,
        64.26447706,  43.34650831,  36.19807081,  97.32893018,
        61.06525831,  23.71955518,  67.75471143, 145.40900831,
        58.03791456,  62.27424268,  75.26643018,  70.83088331,
        76.48127393,  57.74885206,  85.38361768,  71.44807081,
        52.66877393,  56.71760206,  43.23518018])

## Review Model Outcomes â€” Iterate over additional models as needed

In [18]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model
from sklearn.metrics import explained_variance_score
from sklearn.metrics import mean_absolute_error

In [19]:
explained_variance_score(y_true=y_test, y_pred=y_pred)

0.9409335239835701

In [20]:
mean_absolute_error(y_true=y_test, y_pred=y_pred)

4.915690182064833

**<font color='teal'> Print the intercept value from the linear model. </font>**

Hint: our linear regression model `lm` has an attribute `intercept_` for the intercept

In [21]:
lm.intercept_

64.11701612065369

**<font color='teal'> The intercept is the mean `AdultWeekend` price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the resulting `AdultWeekend` value. Also, because we took the time to scale our x values in the training data, we can compare each of the coeeficients for the features to determine the feature importances. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.</font>** 


Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what we are looking for is the magnitude of impact on our response variable.

In [22]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
coef_data = []
coef_data = pd.DataFrame(abs(lm.coef_), x.columns, columns=['Coefficient'])
print(coef_data)

                    Coefficient
summit_elev        1.899311e+00
vertical_drop      9.583299e-01
fastQuads          1.157118e+00
quad               1.527711e+00
triple             2.236678e+00
double             1.312403e+00
surface            3.399401e-01
total_chairs       1.120816e+00
Runs               9.005197e-01
TerrainParks       9.941889e-02
LongestRun_mi      4.374870e-01
SkiableTerrain_ac  2.009429e-01
Snow Making_ac     8.709411e-01
daysOpenLastYear   5.413062e-01
yearsOpen          3.547436e-01
averageSnowfall    2.204681e-02
AdultWeekday       1.923904e+01
projectedDaysOpen  1.469920e-01
NightSkiing_ac     6.434278e-01
clusters           4.043513e-01
Alaska             2.861859e+12
Arizona            2.340268e+12
California         7.360420e+12
Colorado           7.521430e+12
Connecticut        3.683328e+12
Idaho              5.644402e+12
Illinois           3.299533e+12
Indiana            2.340268e+12
Iowa               2.861859e+12
Maine              4.911199e+12
Maryland           1.657340e+12
Massachusetts      5.412594e+12
Michigan           8.536817e+12
Minnesota          6.077449e+12
Missouri           2.340268e+12
Montana            5.644402e+12
Nevada             3.299533e+12
New Hampshire      6.476473e+12
New Jersey         2.340268e+12
New Mexico         4.911199e+12
New York           9.045841e+12
North Carolina     4.028672e+12
Ohio               3.683328e+12
Oregon             5.168788e+12
Pennsylvania       7.023777e+12
Rhode Island       1.657340e+12
South Dakota       2.340268e+12
Tennessee          1.657340e+12
Utah               5.865635e+12
Vermont            6.280795e+12
Virginia           3.299533e+12
Washington         5.168788e+12
West Virginia      3.299533e+12
Wisconsin          6.476473e+12
Wyoming            4.637529e+12

In [23]:
coef_data.sort_values(['Coefficient'], ascending=False)

                    Coefficient
New York           9.045841e+12
Michigan           8.536817e+12
Colorado           7.521430e+12
California         7.360420e+12
Pennsylvania       7.023777e+12
New Hampshire      6.476473e+12
Wisconsin          6.476473e+12
Vermont            6.280795e+12
Minnesota          6.077449e+12
Utah               5.865635e+12
Idaho              5.644402e+12
Montana            5.644402e+12
Massachusetts      5.412594e+12
Washington         5.168788e+12
Oregon             5.168788e+12
Maine              4.911199e+12
New Mexico         4.911199e+12
Wyoming            4.637529e+12
North Carolina     4.028672e+12
Connecticut        3.683328e+12
Ohio               3.683328e+12
West Virginia      3.299533e+12
Virginia           3.299533e+12
Illinois           3.299533e+12
Nevada             3.299533e+12
Alaska             2.861859e+12
Iowa               2.861859e+12
New Jersey         2.340268e+12
Missouri           2.340268e+12
Indiana            2.340268e+12
Arizona            2.340268e+12
South Dakota       2.340268e+12
Tennessee          1.657340e+12
Maryland           1.657340e+12
Rhode Island       1.657340e+12
AdultWeekday       1.923904e+01
triple             2.236678e+00
summit_elev        1.899311e+00
quad               1.527711e+00
double             1.312403e+00
fastQuads          1.157118e+00
total_chairs       1.120816e+00
vertical_drop      9.583299e-01
Runs               9.005197e-01
Snow Making_ac     8.709411e-01
NightSkiing_ac     6.434278e-01
daysOpenLastYear   5.413062e-01
LongestRun_mi      4.374870e-01
clusters           4.043513e-01
yearsOpen          3.547436e-01
surface            3.399401e-01
SkiableTerrain_ac  2.009429e-01
projectedDaysOpen  1.469920e-01
TerrainParks       9.941889e-02
averageSnowfall    2.204681e-02

**<font color='teal'>You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that we care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results. </font>**

Hint: Try to construct another model using exactly the steps we followed above.

# Model 2

In [24]:
df2 = pd.read_csv('step3_output.csv', index_col= None)

In [25]:
df2.head()

                  Name    state  ...  NightSkiing_ac  clusters
0       Alyeska Resort   Alaska  ...           550.0         1
1  Eaglecrest Ski Area   Alaska  ...             0.0         1
2     Hilltop Ski Area   Alaska  ...            30.0         1
3     Arizona Snowbowl  Arizona  ...             0.0         0
4  Sunrise Park Resort  Arizona  ...            80.0         0

[5 rows x 23 columns]

In [26]:
# Declare an explanatory variable, called x2, and assign it the result of dropping 'state' 'Name' and 'AdultWeekend' from the df2
x2 = df2.drop(['state','Name','AdultWeekend'], axis=1)
print(x2)

# Declare a response variable, called y2, and assign it the AdultWeekend column of the df2 
y2 = df2['AdultWeekend']

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter x 
scaler2 = preprocessing.StandardScaler().fit(x2)

# Declare a variable called x2_scaled, and assign it the result of calling the transform() method with parameter x2 
x2_scaled=scaler2.transform(x2)

     summit_elev  vertical_drop  ...  NightSkiing_ac  clusters
0           3939           2500  ...           550.0         1
1           2600           1540  ...             0.0         1
2           2090            294  ...            30.0         1
3          11500           2300  ...             0.0         0
4          11100           1800  ...            80.0         0
..           ...            ...  ...             ...       ...
325         9500           1000  ...             0.0         3
326         7428            810  ...             0.0         3
327         7808           1571  ...           110.0         3
328         9663            990  ...             0.0         3
329         9500           1100  ...             0.0         3

[330 rows x 20 columns]

In [27]:
# Get the 1-dimensional flattened array of our response variable y2 by calling the ravel() function on y2
y2 = y2.ravel()
# Call the train_test_split() function with the first two parameters set to x2_scaled and y2 
# Declare four variables, s2_train, s2_test, y2_train and y2_test separated by commas 
s2_train, s2_test, y2_train, y2_test = train_test_split(x2_scaled, y2, test_size=0.25, random_state=1)

In [28]:
lm2 = linear_model.LinearRegression()
model2 = lm2.fit(s2_train,y2_train)

In [29]:
# Make a variable called y2_pred and assign it the result of calling predict() on our model variable with parameter x2_test
y2_pred = model2.predict(s2_test)

In [30]:
explained_variance_score(y_true=y2_test, y_pred=y2_pred)

0.9296939181024035

In [31]:
mean_absolute_error(y_true=y2_test, y_pred=y2_pred)

5.3383259592237975

In [32]:
lm2.intercept_

64.07539503650082

In [33]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
coef_data2 = []
coef_data2 = pd.DataFrame(abs(lm2.coef_), x2.columns, columns=['Coefficient'])
print(coef_data2)

                   Coefficient
summit_elev           0.994699
vertical_drop         1.527316
fastQuads             0.223443
quad                  1.243351
triple                1.112562
double                0.034431
surface               1.520371
total_chairs          1.575504
Runs                  1.235018
TerrainParks          0.130860
LongestRun_mi         0.289668
SkiableTerrain_ac     0.253621
Snow Making_ac        0.432130
daysOpenLastYear      1.104171
yearsOpen             0.269139
averageSnowfall       1.691297
AdultWeekday         20.080300
projectedDaysOpen     0.331176
NightSkiing_ac        0.426303
clusters              0.271374

In [34]:
coef_data2.sort_values(['Coefficient'], ascending=False)

                   Coefficient
AdultWeekday         20.080300
averageSnowfall       1.691297
total_chairs          1.575504
vertical_drop         1.527316
surface               1.520371
quad                  1.243351
Runs                  1.235018
triple                1.112562
daysOpenLastYear      1.104171
summit_elev           0.994699
Snow Making_ac        0.432130
NightSkiing_ac        0.426303
projectedDaysOpen     0.331176
LongestRun_mi         0.289668
clusters              0.271374
yearsOpen             0.269139
SkiableTerrain_ac     0.253621
fastQuads             0.223443
TerrainParks          0.130860
double                0.034431

**<font color='teal'> When reviewing our new model coefficients, we see `summit_elev` is now in the number two spot. This is also difficult to change from a management prespective and highly correlated with `base_elev` and `vertical_drop`.  This time, rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

# **Model 3**

In [35]:
df3 = pd.read_csv('step3_output.csv', index_col= None)

In [36]:
df3.head()

                  Name    state  ...  NightSkiing_ac  clusters
0       Alyeska Resort   Alaska  ...           550.0         1
1  Eaglecrest Ski Area   Alaska  ...             0.0         1
2     Hilltop Ski Area   Alaska  ...            30.0         1
3     Arizona Snowbowl  Arizona  ...             0.0         0
4  Sunrise Park Resort  Arizona  ...            80.0         0

[5 rows x 23 columns]

In [37]:
# Declare an explanatory variable, called x3, and assign it the result of dropping 'state', 'Name','summit_elev' and 'AdultWeekend' from the df3
x3 = df3.drop(['state','Name','AdultWeekend','summit_elev'], axis=1)
print(x3)

# Declare a response variable, called y3, and assign it the AdultWeekend column of the df3 
y3 = df3['AdultWeekend']

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter x3 
scaler3 = preprocessing.StandardScaler().fit(x3)

# Declare a variable called x3_scaled, and assign it the result of calling the transform() method with parameter x3 
x3_scaled=scaler3.transform(x3)

     vertical_drop  fastQuads  ...  NightSkiing_ac  clusters
0             2500          2  ...           550.0         1
1             1540          0  ...             0.0         1
2              294          0  ...            30.0         1
3             2300          0  ...             0.0         0
4             1800          1  ...            80.0         0
..             ...        ...  ...             ...       ...
325           1000          0  ...             0.0         3
326            810          0  ...             0.0         3
327           1571          0  ...           110.0         3
328            990          0  ...             0.0         3
329           1100          0  ...             0.0         3

[330 rows x 19 columns]

In [38]:
# Get the 1-dimensional flattened array of our response variable y3 by calling the ravel() function on y3
y3 = y3.ravel()
# Call the train_test_split() function with the first two parameters set to x3_scaled and y3 
# Declare four variables, s3_train, s3_test, y3_train and y3_test separated by commas 
s3_train, s3_test, y3_train, y3_test = train_test_split(x3_scaled, y3, test_size=0.25, random_state=1)

In [39]:
lm3 = linear_model.LinearRegression()
model3 = lm3.fit(s3_train,y3_train)

In [40]:
# Make a variable called y3_pred and assign it the result of calling predict() on our model variable with parameter x3_test
y3_pred = model3.predict(s3_test)

In [41]:
explained_variance_score(y_true=y3_test, y_pred=y3_pred)

0.9263168900468063

In [42]:
mean_absolute_error(y_true=y3_test, y_pred=y3_pred)

5.471497752071906

In [43]:
lm3.intercept_

64.07436966949007

In [44]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
coef_data3 = []
coef_data3 = pd.DataFrame(abs(lm3.coef_), x3.columns, columns=['Coefficient'])
print(coef_data3)

                   Coefficient
vertical_drop         1.090355
fastQuads             0.299072
quad                  1.329484
triple                1.105076
double                0.052905
surface               1.536132
total_chairs          1.592218
Runs                  1.310954
TerrainParks          0.107832
LongestRun_mi         0.272616
SkiableTerrain_ac     0.319464
Snow Making_ac        0.395067
daysOpenLastYear      0.922663
yearsOpen             0.292590
averageSnowfall       2.066468
AdultWeekday         20.014486
projectedDaysOpen     0.139252
NightSkiing_ac        0.530249
clusters              0.321841

In [45]:
coef_data3.sort_values(['Coefficient'], ascending=False)

                   Coefficient
AdultWeekday         20.014486
averageSnowfall       2.066468
total_chairs          1.592218
surface               1.536132
quad                  1.329484
Runs                  1.310954
triple                1.105076
vertical_drop         1.090355
daysOpenLastYear      0.922663
NightSkiing_ac        0.530249
Snow Making_ac        0.395067
clusters              0.321841
SkiableTerrain_ac     0.319464
fastQuads             0.299072
yearsOpen             0.292590
LongestRun_mi         0.272616
projectedDaysOpen     0.139252
TerrainParks          0.107832
double                0.052905

# **Model 4 - No Clusters Column**

In [46]:
df4 = pd.read_csv('step3_output.csv', index_col= None)

In [47]:
df4.head()

                  Name    state  ...  NightSkiing_ac  clusters
0       Alyeska Resort   Alaska  ...           550.0         1
1  Eaglecrest Ski Area   Alaska  ...             0.0         1
2     Hilltop Ski Area   Alaska  ...            30.0         1
3     Arizona Snowbowl  Arizona  ...             0.0         0
4  Sunrise Park Resort  Arizona  ...            80.0         0

[5 rows x 23 columns]

In [48]:
# Declare an explanatory variable, called x4, and assign it the result of dropping 'clusters','state','Name','summit_elev' and 'AdultWeekend' from the df4
x4 = df4.drop(['state','Name','AdultWeekend','summit_elev','clusters'], axis=1)
print(x4)

# Declare a response variable, called y4, and assign it the AdultWeekend column of the df4 
y4 = df4['AdultWeekend']

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter x4 
scaler4 = preprocessing.StandardScaler().fit(x4)

# Declare a variable called x4_scaled, and assign it the result of calling the transform() method with parameter x4 
x4_scaled=scaler4.transform(x4)

     vertical_drop  fastQuads  ...  projectedDaysOpen  NightSkiing_ac
0             2500          2  ...         150.000000           550.0
1             1540          0  ...          90.000000             0.0
2              294          0  ...         152.000000            30.0
3             2300          0  ...         122.000000             0.0
4             1800          1  ...         104.000000            80.0
..             ...        ...  ...                ...             ...
325           1000          0  ...         120.053004             0.0
326            810          0  ...          77.000000             0.0
327           1571          0  ...         123.000000           110.0
328            990          0  ...         120.053004             0.0
329           1100          0  ...         120.053004             0.0

[330 rows x 18 columns]

In [49]:
# Get the 1-dimensional flattened array of our response variable y4 by calling the ravel() function on y4
y4 = y4.ravel()
# Call the train_test_split() function with the first two parameters set to x4_scaled and y4 
# Declare four variables, s4_train, s4_test, y4_train and y4_test separated by commas 
s4_train, s4_test, y4_train, y4_test = train_test_split(x4_scaled, y4, test_size=0.25, random_state=1)

In [50]:
lm4 = linear_model.LinearRegression()
model4 = lm4.fit(s4_train,y4_train)

In [51]:
# Make a variable called y4_pred and assign it the result of calling predict() on our model variable with parameter x4_test
y4_pred = model4.predict(s4_test)

In [52]:
explained_variance_score(y_true=y4_test, y_pred=y4_pred)

0.9248663129115536

In [53]:
mean_absolute_error(y_true=y4_test, y_pred=y4_pred)

5.542609970084944

In [54]:
lm4.intercept_

64.07178997728322

In [55]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
coef_data4 = []
coef_data4 = pd.DataFrame(abs(lm4.coef_), x4.columns, columns=['Coefficient'])
print(coef_data4)

                   Coefficient
vertical_drop         1.011005
fastQuads             0.345907
quad                  1.336541
triple                1.107624
double                0.048383
surface               1.491233
total_chairs          1.564824
Runs                  1.190480
TerrainParks          0.110023
LongestRun_mi         0.291573
SkiableTerrain_ac     0.314681
Snow Making_ac        0.447529
daysOpenLastYear      0.976423
yearsOpen             0.294256
averageSnowfall       2.163483
AdultWeekday         20.068013
projectedDaysOpen     0.184608
NightSkiing_ac        0.474297

In [56]:
coef_data4.sort_values(['Coefficient'], ascending=False)

                   Coefficient
AdultWeekday         20.068013
averageSnowfall       2.163483
total_chairs          1.564824
surface               1.491233
quad                  1.336541
Runs                  1.190480
triple                1.107624
vertical_drop         1.011005
daysOpenLastYear      0.976423
NightSkiing_ac        0.474297
Snow Making_ac        0.447529
fastQuads             0.345907
SkiableTerrain_ac     0.314681
yearsOpen             0.294256
LongestRun_mi         0.291573
projectedDaysOpen     0.184608
TerrainParks          0.110023
double                0.048383

# **Model 5: Drop AdultWeekday Column**

In [57]:
df5 = pd.read_csv('step3_output.csv', index_col= None)

In [58]:
df5.head()

                  Name    state  ...  NightSkiing_ac  clusters
0       Alyeska Resort   Alaska  ...           550.0         1
1  Eaglecrest Ski Area   Alaska  ...             0.0         1
2     Hilltop Ski Area   Alaska  ...            30.0         1
3     Arizona Snowbowl  Arizona  ...             0.0         0
4  Sunrise Park Resort  Arizona  ...            80.0         0

[5 rows x 23 columns]

In [59]:
# Declare an explanatory variable, called x5, and assign it the result of dropping 'AdultWeekday','clusters','state','Name','summit_elev' and 'AdultWeekend' from the df5
x5 = df5.drop(['state','Name','AdultWeekend','summit_elev','clusters','AdultWeekday'], axis=1)
print(x5)

# Declare a response variable, called y5, and assign it the AdultWeekend column of the df5 
y5 = df5['AdultWeekend']

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter x5 
scaler5 = preprocessing.StandardScaler().fit(x5)

# Declare a variable called x5_scaled, and assign it the result of calling the transform() method with parameter x5 
x5_scaled=scaler5.transform(x5)

     vertical_drop  fastQuads  ...  projectedDaysOpen  NightSkiing_ac
0             2500          2  ...         150.000000           550.0
1             1540          0  ...          90.000000             0.0
2              294          0  ...         152.000000            30.0
3             2300          0  ...         122.000000             0.0
4             1800          1  ...         104.000000            80.0
..             ...        ...  ...                ...             ...
325           1000          0  ...         120.053004             0.0
326            810          0  ...          77.000000             0.0
327           1571          0  ...         123.000000           110.0
328            990          0  ...         120.053004             0.0
329           1100          0  ...         120.053004             0.0

[330 rows x 17 columns]

In [60]:
# Get the 1-dimensional flattened array of our response variable y5 by calling the ravel() function on y5
y5 = y5.ravel()
# Call the train_test_split() function with the first two parameters set to x5_scaled and y5 
# Declare four variables, s5_train, s5_test, y5_train and y5_test separated by commas 
s5_train, s5_test, y5_train, y5_test = train_test_split(x5_scaled, y5, test_size=0.25, random_state=1)

In [61]:
lm5 = linear_model.LinearRegression()
model5 = lm5.fit(s5_train,y5_train)

In [62]:
# Make a variable called y5_pred and assign it the result of calling predict() on our model variable with parameter x5_test
y5_pred = model5.predict(s5_test)

In [63]:
explained_variance_score(y_true=y5_test, y_pred=y5_pred)

0.19530052423907873

In [64]:
mean_absolute_error(y_true=y5_test, y_pred=y5_pred)

15.594577238830501

In [65]:
lm5.intercept_

64.20764002530588

In [66]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
coef_data5 = []
coef_data5 = pd.DataFrame(abs(lm5.coef_), x5.columns, columns=['Coefficient'])
print(coef_data5)

                   Coefficient
vertical_drop         7.048036
fastQuads            10.163979
quad                  7.826587
triple                8.139245
double                6.763739
surface               3.800667
total_chairs         17.829982
Runs                  1.456091
TerrainParks          0.881811
LongestRun_mi         0.896640
SkiableTerrain_ac     0.703635
Snow Making_ac        9.062039
daysOpenLastYear      1.319885
yearsOpen             0.689368
averageSnowfall       0.083391
projectedDaysOpen     1.628074
NightSkiing_ac        0.836592

In [67]:
coef_data5.sort_values(['Coefficient'], ascending=False)

                   Coefficient
total_chairs         17.829982
fastQuads            10.163979
Snow Making_ac        9.062039
triple                8.139245
quad                  7.826587
vertical_drop         7.048036
double                6.763739
surface               3.800667
projectedDaysOpen     1.628074
Runs                  1.456091
daysOpenLastYear      1.319885
LongestRun_mi         0.896640
TerrainParks          0.881811
NightSkiing_ac        0.836592
SkiableTerrain_ac     0.703635
yearsOpen             0.689368
averageSnowfall       0.083391

## Identify the Final Model

**<font color='teal'> Review the model performances in the table below and choose the best model for proving insights to Big Mountain management about what features are driving ski resort lift ticket prices. Type your choice in the final markdown cell â€” you will discuss this selection more in the next step of the guided casptone. </font>**

| Model | Explained Variance| Mean Absolute Error|Features Dropped|
| --- | --- | --- | --- |
| Model 1. | 0.941 |  4.92 |'base_elev'|
| Model 2. | 0.930 |  5.34 |'state' base_elev'|
| Model 3. | 0.926 |  5.47 |'state' 'summit_elev' 'base_elev'|
| Model 4. | 0.925 |  5.54 |'state' 'summit_elev' 'base_elev' 'clusters'|
| Model 5. | 0.195 | 15.59 |'state' 'summit_elev' 'base_elev' 'clusters' 'AdultWeekday'|

Model Selection: Model 1